sarms.dtd

<!-- ============================================================ -->
<!-- SARMS DTD - Smart Academic Records Management System       -->
<!-- Unified System DTD - Group 2                               -->
<!-- Pamantasan ng Lungsod ng Pasig (PLP)                      -->
<!-- ============================================================ -->

<!-- Root Element -->
<!ELEMENT sarms (students, faculty, library, billing, events)>
<!ATTLIST sarms xmlns:xi CDATA #IMPLIED>

<!-- ==================== STUDENTS MODULE ==================== -->
<!ELEMENT students (student+)>
<!ELEMENT student (firstName, lastName, program, section, studDepartment, yearLevel, enrolledSubjects, gpa)>
<!ATTLIST student studentId CDATA #REQUIRED>

<!ELEMENT firstName (#PCDATA)>
<!ELEMENT lastName (#PCDATA)>
<!ELEMENT program (#PCDATA)>
<!ELEMENT section (#PCDATA)>
<!ELEMENT studDepartment (#PCDATA)>
<!ELEMENT yearLevel (#PCDATA)>
<!ELEMENT gpa (#PCDATA)>

<!ELEMENT enrolledSubjects (subject+)>
<!ELEMENT subject (subjectName, units?, hours, grade?, facultyMember?)>
<!-- FacultyMember is used both as a reference in subject and as a full element in faculty -->
<!ELEMENT facultyMember (id, (name | professorName), department, subjects?, totalHours?)>
<!ELEMENT professorName (#PCDATA)>
<!ATTLIST subject subjectId CDATA #IMPLIED>

<!ELEMENT subjectName (#PCDATA)>
<!ELEMENT units (#PCDATA)>
<!ELEMENT grade (#PCDATA)>

<!-- ==================== FACULTY MODULE ==================== -->
<!ELEMENT faculty (facultyMember+)>

<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT department (#PCDATA)>
<!ELEMENT subjects (subject+)>
<!ELEMENT hours (#PCDATA)>
<!ELEMENT totalHours (#PCDATA)>

<!-- ==================== LIBRARY MODULE ==================== -->
<!ELEMENT library (books, borrowingRecords)>

<!ELEMENT books (book+)>
<!ELEMENT book (title, author, category, isbn, copies)>
<!ATTLIST book bookId ID #REQUIRED>

<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT isbn (#PCDATA)>
<!ELEMENT copies (#PCDATA)>

<!ELEMENT borrowingRecords (record+)>
<!ELEMENT record ((bookId, borrower, borrowDate, dueDate, returnDate, status) | (studentId, name?, tuitionFee, paymentsMade, balance))>
<!ATTLIST record recordId ID #IMPLIED>

<!ELEMENT bookId (#PCDATA)>
<!ELEMENT borrower (borrowerId, borrowerName?, borrowerType?, course?, contactNo)>
<!ELEMENT borrowerId (#PCDATA)>
<!ELEMENT borrowerName (#PCDATA)>
<!ELEMENT borrowerType (#PCDATA)>
<!ELEMENT contactNo (#PCDATA)>
<!ELEMENT borrowDate (#PCDATA)>
<!ELEMENT dueDate (#PCDATA)>
<!ELEMENT returnDate (#PCDATA)>
<!ELEMENT status (#PCDATA)>

<!-- ==================== BILLING MODULE ==================== -->
<!ELEMENT billing (record+)>
<!ELEMENT studentId (#PCDATA)>
<!ELEMENT tuitionFee (#PCDATA)>
<!ELEMENT paymentsMade (#PCDATA)>
<!ELEMENT balance (#PCDATA)>

<!-- ==================== EVENTS MODULE ==================== -->
<!ELEMENT events (event+)>
<!ELEMENT event (eventName, eventDate, eventTime, venue, capacity, registrationCount, category, organizer?, description)>
<!ELEMENT organizer (#PCDATA)>
<!ATTLIST event 
    eventId ID #REQUIRED
    eventStatus CDATA #REQUIRED>

<!ELEMENT eventName (#PCDATA)>
<!ELEMENT eventDate (#PCDATA)>
<!ELEMENT eventTime (#PCDATA)>
<!ELEMENT venue (#PCDATA)>
<!ELEMENT capacity (#PCDATA)>
<!ELEMENT registrationCount (#PCDATA)>
<!ELEMENT description (#PCDATA)>
