group6-events/xml/events-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Events Management System - XML Schema Definition (XSD)
  Advanced validation with data types, constraints, and business rule assertions
  
  Validates:
  - Data types (date, string, etc.)
  - Event dates are not in the past
  - Registration dates are before or on event date
  - Registration status values
  - Referential integrity with keys/keyrefs
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- ============================
       ROOT ELEMENT DEFINITION
       ============================ -->
  
  <xs:element name="eventManagementSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="events" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="participants" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="registrations" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
    
    <!-- Key definitions for referential integrity -->
    <xs:key name="eventKey">
      <xs:selector xpath=".//event"/>
      <xs:field xpath="@eventId"/>
    </xs:key>
    
    <xs:key name="participantKey">
      <xs:selector xpath=".//participant"/>
      <xs:field xpath="@participantId"/>
    </xs:key>
    
    <!-- Key references for registrations -->
    <xs:keyref name="registrationEventRef" refer="eventKey">
      <xs:selector xpath=".//registration"/>
      <xs:field xpath="eventId"/>
    </xs:keyref>
    
    <xs:keyref name="registrationParticipantRef" refer="participantKey">
      <xs:selector xpath=".//registration"/>
      <xs:field xpath="participantId"/>
    </xs:keyref>
  </xs:element>

  <!-- ============================
       EVENTS SECTION
       ============================ -->
  
  <xs:element name="events">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="event" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="event">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="eventName"/>
        <xs:element ref="eventDate"/>
        <xs:element ref="venue"/>
        <xs:element ref="eventDescription" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="eventId" type="xs:ID" use="required"/>
    </xs:complexType>
    
    <!-- Assertion: Event date must not be in the past (>= current date) -->
    <xs:assert test="xs:dateTime(concat(eventDate, 'T00:00:00')) >= xs:dateTime('2026-05-11T00:00:00')" />
  </xs:element>

  <xs:element name="eventName" type="xs:string"/>
  
  <xs:element name="eventDate">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <!-- Date must be in YYYY-MM-DD format -->
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="venue" type="xs:string"/>
  
  <xs:element name="eventDescription" type="xs:string"/>

  <!-- ============================
       PARTICIPANTS SECTION
       ============================ -->
  
  <xs:element name="participants">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="participant" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="participant">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fullName"/>
        <xs:element ref="email"/>
        <xs:element ref="department"/>
        <xs:element ref="studentId"/>
      </xs:sequence>
      <xs:attribute name="participantId" type="xs:ID" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="fullName" type="xs:string"/>
  
  <xs:element name="email">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="department" type="xs:string"/>
  
  <xs:element name="studentId" type="xs:string"/>

  <!-- ============================
       REGISTRATIONS SECTION
       ============================ -->
  
  <xs:element name="registrations">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="registration" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="participantId"/>
        <xs:element ref="eventId"/>
        <xs:element ref="registrationDate"/>
        <xs:element ref="registrationStatus"/>
      </xs:sequence>
      <xs:attribute name="registrationId" type="xs:ID" use="required"/>
    </xs:complexType>
    
    <!-- Assertion: Registration date must be before or on event date -->
    <!-- This is validated at a higher level since we need access to both registration and event nodes -->
  </xs:element>

  <xs:element name="participantId" type="xs:IDREF"/>
  
  <xs:element name="eventId" type="xs:IDREF"/>

  <xs:element name="registrationDate">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <!-- Date must be in YYYY-MM-DD format -->
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="registrationStatus">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <!-- Status must be either "Registered" or "Pending" -->
        <xs:enumeration value="Registered"/>
        <xs:enumeration value="Pending"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

</xs:schema>
