group6-events/events.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Event Management System DTD - REFACTORED
  
  PURPOSE: Validates XML structure for the Event Management System
  - Ensures all required elements are present
  - Enforces proper element nesting and hierarchy
  - Validates ID uniqueness and IDREF references
  
  CHANGES FROM ORIGINAL:
  - participantId → studentId (IDREF matching)
  - fullName → firstName and lastName (separated elements)
  - Updated participant structure to use firstName/lastName
  
  NOTE: DTD handles STRUCTURAL validation only
  - Data type validation (dates, numbers, enumerations) handled by XSD
  - Business rule assertions (constraints, cross-element validation) handled by XSD
  - Email format validation handled by XSD
  - Unique constraints on non-ID elements handled by XSD
-->

<!ELEMENT eventManagementSystem (events, participants, registrations)>
<!ATTLIST eventManagementSystem
    xmlns:xsi CDATA #IMPLIED
    xsi:noNamespaceSchemaLocation CDATA #IMPLIED
>

<!-- 
  ===== EVENTS SECTION =====
  Contains all university events with core information
  
  STRUCTURE: <events> container with <event> children
  - Each <event> MUST have: eventId (ID, unique) and eventStatus (upcoming|current|closed)
  - Each <event> MUST contain 9 child elements in specific order
  
  VALIDATION RULES (by XSD):
  - Dates must be YYYY-MM-DD format
  - Times must be HH:MM:SS format (24-hour)
  - registrationCount must not exceed capacity
  - Dates for upcoming/current events must not be in the past
-->
<!ELEMENT events (event+)>
<!ELEMENT event (eventName, eventDate, eventTime, venue, capacity, registrationCount, category, organizer, description)>
<!ATTLIST event
    eventId ID #REQUIRED
    eventStatus (upcoming|current|closed) #REQUIRED
>

<!ELEMENT eventName (#PCDATA)>
<!ELEMENT eventDate (#PCDATA)>
<!-- Date format: YYYY-MM-DD, validated by XSD; must not be in past -->
<!ELEMENT eventTime (#PCDATA)>
<!-- Time format: HH:MM:SS, validated by XSD -->
<!ELEMENT venue (#PCDATA)>
<!ELEMENT capacity (#PCDATA)>
<!-- Numeric value; registration count must not exceed capacity (XSD assertion) -->
<!ELEMENT registrationCount (#PCDATA)>
<!-- Count of registrations; must match actual registration records -->
<!ELEMENT category (#PCDATA)>
<!-- Event category/type; enumerated values in XSD -->
<!ELEMENT organizer (#PCDATA)>
<!-- Event organizer/instructor name -->
<!ELEMENT description (#PCDATA)>

<!-- 
  ===== PARTICIPANTS SECTION (REFACTORED) =====
  Contains all participant/student records
  
  STRUCTURE: <participants> container with <participant> children
  - Each <participant> MUST have: studentId (ID, unique)
  - Each <participant> MUST contain 5 child elements in specific order: firstName, lastName, email, department, yearLevel
  
  REFACTORING NOTES:
  - Changed from participantId to studentId for better semantic clarity
  - Split fullName into firstName and lastName (more flexible and structured)
  - Now references student records from students.xml directly
  
  VALIDATION RULES (by XSD):
  - firstName and lastName together form the full name
  - email must be unique and valid format (RFC 5322 style)
  - department must be one of 7 enumerated college names
  - yearLevel must be integer 1-4
  - studentId should match source student data (e.g., 23-00001)
-->
<!ELEMENT participants (participant+)>
<!ELEMENT participant (firstName, lastName, email, department, yearLevel)>
<!ATTLIST participant
    studentId ID #REQUIRED
>

<!ELEMENT firstName (#PCDATA)>
<!-- First name of student participant -->
<!ELEMENT lastName (#PCDATA)>
<!-- Last name of student participant -->
<!ELEMENT email (#PCDATA)>
<!-- Email address; must be unique across all participants (XSD unique constraint) -->
<!ELEMENT department (#PCDATA)>
<!-- Department/college affiliation; enumerated values in XSD -->
<!ELEMENT yearLevel (#PCDATA)>
<!-- Academic year level (1-4) or equivalent -->

<!-- 
  ===== REGISTRATIONS SECTION (REFACTORED) =====
  Registration records linking events and participants
  
  STRUCTURE: <registrations> container with empty <registration> elements
  - Uses EMPTY content model (no child elements)
  - All data stored as attributes
  - IDREF attributes establish relationships to events and participants
  
  REFACTORING NOTES:
  - Changed participantId attribute to studentId
  - Now references student IDs (e.g., 23-00001) instead of participant IDs (e.g., PAR-001)
  
  ATTRIBUTES (all required):
  - registrationId: unique identifier (ID type)
  - eventId: references an event (IDREF type) - must match an event/@eventId
  - studentId: references a student participant (IDREF type) - must match a participant/@studentId
  - registrationStatus: one of (Registered|Attended|Cancelled|No-show)
  - registrationDate: must be before the corresponding event date (XSD assertion)
  
  VALIDATION RULES (by XSD):
  - Registration date must occur BEFORE the event date
  - Both eventId and studentId must reference existing records
  - Registration counts per event must match actual registration records
-->
<!ELEMENT registrations (registration+)>
<!ELEMENT registration EMPTY>
<!ATTLIST registration
    registrationId ID #REQUIRED
    eventId IDREF #REQUIRED
    studentId IDREF #REQUIRED
    registrationStatus (Registered|Attended|Cancelled|No-show) #REQUIRED
    registrationDate CDATA #REQUIRED
>
<!-- registrationDate must occur before the event's eventDate (XSD assertion) -->

<!-- ===== DTD LIMITATIONS ===== -->
<!-- DTD validates:
     - Required child elements
     - Element nesting and hierarchy
     - Allowed structure (event status values)
     - ID uniqueness and IDREF references
     
     DTD does NOT validate (handled by XSD):
     - Date format (YYYY-MM-DD)
     - Time format (HH:MM:SS)
     - Email address format
     - Numeric constraints (capacity vs registration count)
     - Cross-element assertions (registration date < event date)
     - Enumeration constraints (departments, categories)
     - Unique constraints on non-ID elements (emails, names)
-->
