group6-events/events.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Events Management System DTD -->
<!-- Validates structural rules for event data -->

<!ELEMENT eventManagementSystem (events, participants, registrations)>

<!-- Events Section -->
<!ELEMENT events (event+)>
<!ELEMENT event (eventName, eventDate, eventTime, venue, capacity, registrationCount, category, description)>
<!ATTLIST event
    eventId ID #REQUIRED
    eventStatus (upcoming|current|closed) #REQUIRED
>

<!ELEMENT registrations (registration+)>

<!ELEMENT eventName (#PCDATA)>
<!ELEMENT eventDate (#PCDATA)>
<!ELEMENT eventTime (#PCDATA)>
<!ELEMENT venue (#PCDATA)>
<!ELEMENT capacity (#PCDATA)>
<!ELEMENT registrationCount (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT description (#PCDATA)>

<!-- Participants Section -->
<!ELEMENT participants (participant+)>
<!ELEMENT participant (fullName, email, department, yearLevel)>
<!ATTLIST participant
    participantId ID #REQUIRED
>

<!ELEMENT fullName (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT department (#PCDATA)>
<!ELEMENT yearLevel (#PCDATA)>

<!-- Registration Element -->
<!-- registrationDate is CDATA here because DTD has no native date type; XSD uses xs:date. -->
<!ELEMENT registration EMPTY>
<!ATTLIST registration
    registrationId ID #REQUIRED
    eventId IDREF #REQUIRED
    participantId IDREF #REQUIRED
    registrationStatus (Registered|Attended|Cancelled|No-show) #REQUIRED
    registrationDate CDATA #REQUIRED
>
