group5-billing/billing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="billing">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="record" type="recordType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="recordType">
    <xs:sequence>
      <xs:element name="studentId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="BIL-\d{3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="tuitionFee">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="paymentsMade">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="balance">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

    </xs:sequence>

    <xs:assert test="balance = tuitionFee - paymentsMade"/>

  </xs:complexType>

</xs:schema>