group1-enrollment/students.dtd

<!--
  SARMS - Smart Academic Records Management System
  Group 1: Student Enrollment System - DTD
  
  This DTD defines the structural rules for the student enrollment XML document.
  It specifies the allowed elements, attributes, and their relationships.
  
  Structure:
    students > student* > (firstName, lastName, course, yearLevel,
                           enrolledSubjects > subject+, gpa)
-->

<!-- Root element: contains zero or more student records -->
<!ELEMENT students (student*)>

<!-- Each student record contains personal info, enrolled subjects, and GPA -->
<!ELEMENT student (firstName, lastName, course, yearLevel, enrolledSubjects, gpa)>

<!-- studentId attribute is required and must be a unique ID (format: STU-XXX) -->
<!ATTLIST student studentId ID #REQUIRED>

<!-- Personal information elements (text content) -->
<!ELEMENT firstName (#PCDATA)>
<!ELEMENT lastName (#PCDATA)>

<!-- Academic course program (e.g., BSIT, BSCS, BSIS) -->
<!ELEMENT course (#PCDATA)>

<!-- Year level of the student (1-4) -->
<!ELEMENT yearLevel (#PCDATA)>

<!-- Container for all subjects a student is enrolled in -->
<!ELEMENT enrolledSubjects (subject+)>

<!-- Each subject has a name, unit count, and grade -->
<!ELEMENT subject (subjectName, units, grade)>

<!-- subjectId attribute is required and must be a unique ID (format: SUB-XXX) -->
<!ATTLIST subject subjectId ID #REQUIRED>

<!-- Subject details -->
<!ELEMENT subjectName (#PCDATA)>

<!-- Number of academic units for the subject (numeric value) -->
<!ELEMENT units (#PCDATA)>

<!-- Grade received for the subject (numeric value, PLP grading scale) -->
<!ELEMENT grade (#PCDATA)>

<!-- General Point Average computed from all subject grades -->
<!ELEMENT gpa (#PCDATA)>
