group1-enrollment/students.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1">

  <xs:simpleType name="studentIdType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{2}-[0-9]{5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="facultyIdType">
    <xs:restriction base="xs:string">
      <xs:pattern value="FAC-[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="subjectIdType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,4}-[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="yearLevelType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="4"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="unitsType">
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="6"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="hoursType">
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="6"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="gradeType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="1.00"/>
      <xs:maxInclusive value="5.00"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="gpaType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="1.00"/>
      <xs:maxInclusive value="5.00"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="programType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BSIT"/>
      <xs:enumeration value="BSCS"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A"/>
      <xs:enumeration value="B"/>
      <xs:enumeration value="C"/>
      <xs:enumeration value="D"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="facultyMemberType">
    <xs:sequence>
      <xs:element name="id" type="facultyIdType"/>
      <xs:element name="professorName" type="xs:string"/>
      <xs:element name="department" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subjectType">
    <xs:sequence>
      <xs:element name="subjectName" type="xs:string"/>
      <xs:element name="units" type="unitsType"/>
      <xs:element name="hours" type="hoursType"/>
      <xs:element name="grade" type="gradeType"/>
      <xs:element name="facultyMember" type="facultyMemberType"/>
    </xs:sequence>
    <xs:attribute name="subjectId" type="subjectIdType" use="required"/>
  </xs:complexType>

  <xs:complexType name="enrolledSubjectsType">
    <xs:sequence>
      <xs:element name="subject" type="subjectType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="studentType">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string"/>
      <xs:element name="lastName" type="xs:string"/>
      <xs:element name="program" type="programType"/>
      <xs:element name="section" type="sectionType"/>
      <xs:element name="studDepartment" type="xs:string"/>
      <xs:element name="yearLevel" type="yearLevelType"/>
      <xs:element name="enrolledSubjects" type="enrolledSubjectsType"/>
      <xs:element name="gpa" type="gpaType"/>
    </xs:sequence>
    <xs:attribute name="studentId" type="studentIdType" use="required"/>

    <xs:assert test="gpa &lt;= 5.0"/>
  </xs:complexType>

  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" type="studentType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:unique name="uniqueStudentId">
      <xs:selector xpath="student"/>
      <xs:field xpath="@studentId"/>
    </xs:unique>
  </xs:element>

</xs:schema>
